<main>
  <div class="position-relative">
      <!-- shape Hero -->
      <section class="section section-lg bill section-shaped pb-250">
        <div class="container py-lg-md small d-flex">
          <div class="col px-0">
            <div class="row culture">
              <div class="col-lg-7">
                <h3 class="">Culture Hub</h3>
                <p class="lead">
                  Explore the culture hub to feel connected to your peers, celebrate successes and help create a culture you love being part of.
                </p>
              </div>
            </div>
          </div>
        </div>
        <!-- SVG separator -->
      </section>
      <!-- 1st Hero Variation -->
    </div>




    <div class="section section-lg pt-lg-0 mt--200">
           <div class="container">
               <div class="row row filters">
                  <div class="col-lg-7">
                    <p>
                      <div class="row">
                    
                </div>
                    </p>
                    <div class="collapse" id="collapseExample">
                      <div class="card shadow border-0">
                        <div class="card-body py-5">
                          <div class="custom-control custom-checkbox mb-3">
                            <input class="custom-control-input" id="customCheck1" type="checkbox">
                            <label class="custom-control-label" for="customCheck1">Popular Subscriptions (50)</label>
                          </div>
                          <div class="custom-control custom-checkbox mb-3">
                            <input class="custom-control-input" id="customCheck2" type="checkbox">
                            <label class="custom-control-label" for="customCheck2">Online Courses (20)</label>
                          </div>
                          <div class="custom-control custom-checkbox mb-3">
                            <input class="custom-control-input" id="customCheck3" type="checkbox">
                            <label class="custom-control-label" for="customCheck3">Books (2)</label>
                          </div>
                          <div class="custom-control custom-checkbox mb-3">
                            <input class="custom-control-input" id="customCheck3" type="checkbox">
                            <label class="custom-control-label" for="customCheck3">eGiftcards & Vouchers (12)</label>
                          </div>
                          <div class="custom-control custom-checkbox mb-3">
                            <input class="custom-control-input" id="customCheck3" type="checkbox">
                            <label class="custom-control-label" for="customCheck3">Free Gifts From Perkbox (2)</label>
                          </div>
                          <br>
                          <a href="#" class="float-left text-muted">Clear</a>
                          <a href="#" class="active float-right">Apply</a>
                        </div>
                      </div>
                    </div>
                    <div class="collapse" id="collapseExample2">
                      <div class="card shadow border-0">
                        <div class="card-body py-5">
                          <div class="custom-control custom-radio mb-3">
                            <input name="custom-radio-1" class="custom-control-input" id="customRadio1" type="radio">
                            <label class="custom-control-label" for="customRadio1">
                              <span>Most Popular</span>
                            </label>
                          </div>
                          <div class="custom-control custom-radio mb-3">
                            <input name="custom-radio-1" class="custom-control-input" id="customRadio3" type="radio">
                            <label class="custom-control-label" for="customRadio3">
                              <span>Recently Added</span>
                            </label>
                          </div>
                          <div class="custom-control custom-radio mb-3">
                            <input name="custom-radio-1" class="custom-control-input" id="customRadio3" type="radio">
                            <label class="custom-control-label" for="customRadio3">
                              <span>Credit Value</span>
                            </label>
                          </div>
                          <div class="custom-control custom-radio mb-3">
                            <input name="custom-radio-1" class="custom-control-input" id="customRadio5" type="radio">
                            <label class="custom-control-label" for="customRadio5">
                              <span>Alphabetical</span>
                            </label>
                          </div>
                          <br>
                          <a href="#" class="float-left text-muted">Clear</a>
                          <a href="#" class="active float-right">Apply</a>
                        </div>
                      </div>
                    </div>
                    <div class="collapse" id="collapseExample1">
                      <div class="card shadow border-0">
                        <div class="card-body py-5">
                          <div class="row">
                            <div class="col-lg-6">
                                <div class="custom-control custom-checkbox mb-3">
                                  <input class="custom-control-input" id="customCheck6" type="checkbox">
                                  <label class="custom-control-label" for="customCheck6">Health & Wellbeing (50)</label>
                                </div>
                                <div class="custom-control custom-checkbox mb-3">
                                  <input class="custom-control-input" id="customCheck7" type="checkbox">
                                  <label class="custom-control-label" for="customCheck7">Fitness (20)</label>
                                  
                                </div>
                                <div class="custom-control custom-checkbox mb-3">
                                  <input class="custom-control-input" id="customCheck8" type="checkbox">
                                  <label class="custom-control-label" for="customCheck8">Language Learning (12)</label>
                                
                                </div>
                                <div class="custom-control custom-checkbox mb-3">
                                  <input class="custom-control-input" id="customCheck9" type="checkbox">
                                  <label class="custom-control-label" for="customCheck9">Film & Entertainment (10)</label>
                                  
                                </div>

                                <div class="custom-control custom-checkbox mb-3">
                                  <input class="custom-control-input" id="customCheck11" type="checkbox">
                                  <label class="custom-control-label" for="customCheck11">Mindfulness & Meditation (11)</label>
                                   
                                </div>

                              </div>

                              <div class="col-lg-6">
                                
                                <div class="custom-control custom-checkbox mb-3">
                                  <input class="custom-control-input" id="customCheck10" type="checkbox">
                                  <label class="custom-control-label" for="customCheck10">Music (15)</label>
                                   
                                </div>

                                <div class="custom-control custom-checkbox mb-3">
                                  <input class="custom-control-input" id="customCheck11" type="checkbox">
                                  <label class="custom-control-label" for="customCheck11">Photography (1)</label>
                                   
                                </div>
                            </div>
                          </div>
                          <br>
                          <a href="#" class="float-left text-muted">Clear</a>
                          <a href="#" class="active float-right">Apply</a>
                        </div>
                      </div>
                    </div>
                  </div>
                <div class="col-lg-5">
                </div>
              </div>
<hr>

<div class="">
  <div class="row">
    <div class="col-md-8">
      <div class="row">
  <div class="col-lg-12">
    <h4>Recent Activity 

      <div class="btn-group float-right">
        <button type="button" class="btn btn-link text-primary" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sort By <i class="fa fa-angle-down"></i></button>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Most Recent</a>
          <a class="dropdown-item" href="#">Popular</a>
        </div>
      </div><!-- /btn-group -->
      <div class="btn-group float-right">
      <button type="button" class="btn btn-link text-primary" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Filter By <i class="fa fa-angle-down"></i></button>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Announcements</a>
          <a class="dropdown-item" href="#">Perks Added</a>
          <a class="dropdown-item" href="#">Polls</a>
          <a class="dropdown-item" href="#">Recognition Given</a>
          <a class="dropdown-item" href="#">Survey Feedback</a>
        </div>
      </div><!-- /btn-group -->
      <div class="btn-group float-right">
        <button type="button" class="btn btn-link text-primary" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Everything<i class="fa fa-angle-down"></i></button>
        <div class="dropdown-menu">
          <%= link_to pages_feed1_path do %>
            <button type="button" class="dropdown-item">My teams</button>
          <% end %>
        </div>
      </div><!-- /btn-group -->

      </h4>
    <br>
    <br>
  </div>
</div>

      <div class="card shadow border-0">
        <div class="card-body py-5">
          <div class="row">
            <div class="col-md-2">
              <span class="avatar avatar-lg rounded-circle">
                <%= image_tag "maddie.jpg" %>
              </span>
            </div>
            <div class="col-md-10">
              <i class="fa fa-thumb-tack mr-3 float-right" aria-hidden="true"></i>
              <i class="fa fa-share-alt mr-3 float-right" aria-hidden="true"></i>
              <h4>Announcement</h4>
              <p class="text-muted small">The Perkbox Experience from Maddie · 2 days ago</p>
              <p class="lead">
                Check the video out, thanks to all that spoke!.
              </p>
                <iframe width="460" height="315" src="https://www.youtube.com/embed/HPzpCZBogwA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <br>
                <a href="#" class="btn btn-link text-primary">See more <i class="fa fa-angle-down"></i></a>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <span class="float-right">
            <a data-toggle="tooltip" data-placement="top" title="" data-original-title="Add comment"><i class="fa fa-comments mr-3"></i>

             <a data-toggle="tooltip" data-placement="top" title="" data-original-title="Emoji"><i class="fa fa-smile-o mr-3"></i>
          </span>
          <span class="float-left">
            <a class="active" data-toggle="tooltip" data-placement="top" title="" data-original-title="Upvote"><i class="fa fa-thumbs-o-up mr-3"></i></a>
            <a class="active" data-toggle="tooltip" data-placement="top" title="" data-original-title="Downvote"><i class="fa fa-thumbs-o-down mr-3"></i></a>
          </span>
        </div>
      </div>
      <br>
      <br>

      <div class="card shadow border-0">
        <div class="card-body py-5">
          <div class="row">
            <div class="col-md-2">
              <span class="avatar avatar-lg rounded-circle">
                <%= image_tag "maddie.jpg" %>
              </span>
            </div>
            <div class="col-md-10">
              <i class="fa fa-thumb-tack mr-3 float-right" aria-hidden="true"></i>
              <h4>Poll</h4>
              <p class="text-muted small">Event Naming from Maddie · 2 days ago</p>
              <p class="lead">
                Help me choose what to call our next event.
              </p>
                <div class="custom-control custom-checkbox mb-3">
                  <input class="custom-control-input" id="customCheck1" type="checkbox">
                  <label class="custom-control-label" for="customCheck1">
                    <span>Cheese</span>
                  </label>
                </div>
                <div class="custom-control custom-checkbox mb-3">
                  <input class="custom-control-input" id="customCheck2" type="checkbox">
                  <label class="custom-control-label" for="customCheck2">
                    <span>Chips</span>
                  </label>
                </div>
                <div class="custom-control custom-checkbox mb-3">
                  <input class="custom-control-input" id="customCheck3" type="checkbox">
                  <label class="custom-control-label" for="customCheck3">
                    <span>Chicory</span>
                  </label>
                </div>
                <div class="custom-control custom-checkbox mb-3">
                  <input class="custom-control-input" id="customCheck4" type="checkbox">
                  <label class="custom-control-label" for="customCheck4">
                    <span>Chives</span>
                  </label>
                </div>
                <a href="#" class="btn btn-secondary mt-4">Send response</a>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <span class="float-right">
            <a data-toggle="tooltip" data-placement="top" title="" data-original-title="Add comment"><i class="fa fa-comments mr-3"></i>

             <a data-toggle="tooltip" data-placement="top" title="" data-original-title="Emoji"><i class="fa fa-smile-o mr-3"></i>
          </span>
          <span class="float-left">
            <a class="active" data-toggle="tooltip" data-placement="top" title="" data-original-title="Upvote"><i class="fa fa-thumbs-o-up mr-3"></i></a>
            <a class="active" data-toggle="tooltip" data-placement="top" title="" data-original-title="Downvote"><i class="fa fa-thumbs-o-down mr-3"></i></a>
          </span>
        </div>
      </div>
      <br>
      <br>

      <div class="card shadow border-0">
        <div class="card-body py-5">
          <div class="row">
            <div class="col-md-2">
              <span class="avatar avatar-lg rounded-circle">
                <%= image_tag "chieu.jpg" %>
              </span>
            </div>
            <div class="col-md-10">
              <i class="fa fa-thumb-tack mr-3 float-right" aria-hidden="true"></i>
              <h4>Poll</h4>
              <p class="text-muted small">Company Award from Chieu · 2 days ago</p>
              <p class="lead">
                Hey, it company awards time. Please nominate who you think should win the Zero Fear award this year!
              </p>
                <div class="form-group">
                  <form>
                    <div class="form-group">
                      <label for="formGroupExampleInput">Choose Colleague</label>
                      <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Choose colleague">
                    </div>
                    <div class="form-group">
                      <label for="exampleFormControlTextarea1">Reason</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>
                  </form>
                </div>
                <a href="#" class="btn btn-primary mt-4">Send nomination</a>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <span class="float-right">
            <a data-toggle="tooltip" data-placement="top" title="" data-original-title="Add comment"><i class="fa fa-comments mr-3"></i>

             <a data-toggle="tooltip" data-placement="top" title="" data-original-title="Emoji"><i class="fa fa-smile-o mr-3"></i>
          </span>
          <span class="float-left">
            <a class="active" data-toggle="tooltip" data-placement="top" title="" data-original-title="Upvote"><i class="fa fa-thumbs-o-up mr-3"></i></a>
            <a class="active" data-toggle="tooltip" data-placement="top" title="" data-original-title="Downvote"><i class="fa fa-thumbs-o-down mr-3"></i></a>
          </span>
        </div>
      </div>
      <br>
      <br>

      <div class="card shadow border-0">
        <div class="card-body py-5">
          <div class="row">
            <div class="col-md-2">
              <span class="avatar avatar-lg rounded-circle">
                <%= image_tag "louise.jpg" %>
              </span>
            </div>
            <div class="col-md-10">
              <i class="fa fa-share-alt mr-3 float-right" aria-hidden="true"></i>
              <h4>Survey Feedback</h4>
              <p class="text-muted small"> from Louise Jones · 2 days ago</p>
              <p class="lead">
                Thanks for filling out the surveys last week. Clearly Slack isn't working for us right now. Ricky is going to be running some workshops this week to understand more.
              </p>
              
            </div>
          </div>
        </div>
        <div class="card-footer">
          <span class="float-right">
            <a data-toggle="tooltip" data-placement="top" title="" data-original-title="Add comment"><i class="fa fa-comments mr-3"></i>

             <a data-toggle="tooltip" data-placement="top" title="" data-original-title="Emoji"><i class="fa fa-smile-o mr-3"></i>
          </span>
          <span class="float-left">
            <a class="active" data-toggle="tooltip" data-placement="top" title="" data-original-title="Upvote"><i class="fa fa-thumbs-o-up mr-3"></i></a>
            <a class="active" data-toggle="tooltip" data-placement="top" title="" data-original-title="Downvote"><i class="fa fa-thumbs-o-down mr-3"></i></a>
          </span>
        </div>
      </div>

      <br>
      <br>

      <div class="card shadow border-0">
        <div class="card-body py-5">
          <div class="row">
            <div class="col-md-2">
              <span class="avatar avatar-lg rounded-circle">
                <%= image_tag "bill.jpg" %>
              </span>
            </div>
            <div class="col-md-10">
              <h4>Recognition</h4>
              <p class="text-muted small"><span class="badge badge-pill badge-success">Above & beyond</span> from Bill Hewitt · 2 days ago</p>
              <p class="lead">
                Wanted to give a special thanks to Hastings. He really went above and beyond what I expected in the latest work stream. So damn good. Give him a hand one and all!
              </p>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <span class="float-right">
            <a data-toggle="tooltip" data-placement="top" title="" data-original-title="Add comment"><i class="fa fa-comments mr-3"></i>

             <a data-toggle="tooltip" data-placement="top" title="" data-original-title="Emoji"><i class="fa fa-smile-o mr-3"></i>
          </span>
          <span class="float-left">
            <a class="active" data-toggle="tooltip" data-placement="top" title="" data-original-title="Upvote"><i class="fa fa-thumbs-o-up mr-3"></i></a>
            <a class="active" data-toggle="tooltip" data-placement="top" title="" data-original-title="Downvote"><i class="fa fa-thumbs-o-down mr-3"></i></a>
          </span>
        </div>
      </div>

      <br>
      <br>

      <div class="card shadow border-0">
        <div class="card-body py-5">
          <div class="row">
            <div class="col-md-2">
              <span class="avatar avatar-lg rounded-circle">
                <%= image_tag "rob.jpg" %>
              </span>
            </div>
            <div class="col-md-10">
              <h4>Recogntion</h4>
              <p class="text-muted small"><span class="badge badge-pill badge-success">We didn't know it's impossible</span>by Rob Blackler · 2 days ago</p>
              <p class="lead">
                Hey, just wanted to say a big thumbs and hands up for the sales team who smashed their targets again. It's been a big old month!
              </p>

               <a href="#" class="btn btn-secondary mt-1">View Criteria</a>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <span class="float-right">
            <a data-toggle="tooltip" data-placement="top" title="" data-original-title="Add comment"><i class="fa fa-comments mr-3"></i>

             <a data-toggle="tooltip" data-placement="top" title="" data-original-title="Emoji"><i class="fa fa-smile-o mr-3"></i>
          </span>
          <span class="float-left">
            <a class="active" data-toggle="tooltip" data-placement="top" title="" data-original-title="Upvote"><i class="fa fa-thumbs-o-up mr-3"></i></a>
            <a class="active" data-toggle="tooltip" data-placement="top" title="" data-original-title="Downvote"><i class="fa fa-thumbs-o-down mr-3"></i></a>
          </span>
        </div>
      </div>
<br>
<br>
      <div class="container">
      <div class="row">
        <div class="col text-center">
          <button class="btn btn-secondary">Load More</button>
        </div>
      </div>
    </div>
      
    </div>
    <div class="col-md-4 feed">
      <div class="">
        <div class="card-body py-3">
          <h6 class="text-default text-uppercase">Have your say</h6>
          <p class="description mt-3">Help shape your company with anonymous feedback.</p>
          <a href="#" class="btn btn-primary mt-4 btn-block">Send anonymous feedback</a>
        </div>
        <a href="#" class="btn btn-link text-primary">Learn more <i class="fa fa-angle-right"></i></a>
      </div>
<hr>


    
      <div class="">
        <div class="card-body py-3">
          <h6 class="text-default text-uppercase">Recognise someone</h6>
          <p class="description mt-3">Time to make a colleague's day! Who has helped you out or done something amazing recently?</p>
          <a href="#" class="btn btn-primary mt-4 btn-block">Recognise somebody</a>
        </div>
        <a href="#" class="btn btn-link text-primary">Learn more <i class="fa fa-angle-right"></i></a>
      </div>
      <hr>

      <div class="">
        <div class="card-body py-3">
          <h6 class="text-default text-uppercase">Hall Of Fame</h6>
          <p class="description mt-3">Every quarter we celebrate somebody who has exemplified our company values. <span class="small">30 days left this quarter</span></p>
          <div>
            <span class="avatar avatar-lg rounded-circle">
                <%= image_tag "rob.jpg" %>
            </span>
            <span class="avatar avatar-lg rounded-circle">
                <%= image_tag "bill.jpg" %>
            </span>
            <span class="avatar avatar-lg rounded-circle">
                <%= image_tag "steve.jpg" %>
            </span>
            <span class="avatar avatar-lg rounded-circle">
                <%= image_tag "elsa.jpg" %>
            </span>
          </div>
          <a href="#" class="btn btn-primary mt-4 btn-block">Nominate somebody</a>
        </div>
        <a href="#" class="btn btn-link text-primary">Learn more <i class="fa fa-angle-right"></i></a>
      </div>
      <hr>

      <div class="">
        <div class="card-body py-3">
          <h6 class="text-default text-uppercase">Company Values</h6>
          <p class="description mt-3">Perkbox helps improve the entire employee experience, both in and out of work.</p>
          <div>
            <span class="badge badge-pill badge-primary">Zero Fear</span>
            <span class="badge badge-pill badge-primary">Above & Beyond</span>
            <span class="badge badge-pill badge-primary">Not A Job A Family</span>
          </div>
        </div>
        <a href="#" class="btn btn-link text-primary">Learn more <i class="fa fa-angle-right"></i></a>
      </div>
<br>
<hr>
    </div>
  </div>
</div>



   



  </main>