<main>
    <div class="position-relative">
      <!-- shape Hero -->
      <section class="section section-sm section-shaped pb-200">
        <div class="container py-lg-md small d-flex">
          <div class="col px-0">
            <div class="row">
              <div class="col-lg-7">
                <br>
              <br>
              <br>
              <br>
                <h3 class="">Company Hub</h3>
                <p class="lead">
                  We're all in this together. Keep up to date with news, celebrate successes and help create a great culture we're all proud to be part of.
                </p>
              </div>
            </div>
          </div>
        </div>
        <!-- SVG separator -->
      </section>
      <!-- 1st Hero Variation -->
    </div>
  <br>
  <br>  

<div class="section section-sm pt-lg-0 mt--200">
  <div class="container">
     <div class="row filters">
        <div class="col-lg-8">
          <div class="section section-sm pt-lg-0">
           <div class="">
               <div class="row filters">
                  <div class="col-lg-7">
                    <p>
                      <a class="btn btn-secondary" data-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="false" aria-controls="collapseExample1">
                        Categories
                      </a>   
                    </p>
                    <div class="collapse" id="collapseExample1">
                      <div class="card shadow border-0">
                        <div class="card-body py-5">
                          <div class="custom-control custom-checkbox mb-3">
                            <input class="custom-control-input" id="customCheck1" type="checkbox">
                            <label class="custom-control-label" for="customCheck1">Announcments</label>
                          </div>
                          <div class="custom-control custom-checkbox mb-3">
                            <input class="custom-control-input" id="customCheck1" type="checkbox">
                            <label class="custom-control-label" for="customCheck1">Gift Cards To Use In Store</label>
                            <p class="small text-muted">Use your credit to purchase gift codes for offline brands and services (e.g Bill's Restaurant)</p>
                          </div>
                          <div class="custom-control custom-checkbox mb-3">
                            <input class="custom-control-input" id="customCheck3" type="checkbox">
                            <label class="custom-control-label" for="customCheck3">Added by your Company</label>
                            <p class="small text-muted">Use your credit to purchase items added by your company</p>
                          </div>
                          <br>
                          <a href="#" class="float-left btn btn-link text-default">Clear</a>
                          <a href="#" class="btn btn-link text-primary float-right">Apply</a>
                        </div>
                      </div>
                    </div>
                    
                    <div class="collapse" id="collapseExample2">
                      <div class="card shadow border-0">
                        <div class="card-body py-5">
                          <div class="row">
                            <div class="col-lg-6">
                                <div class="custom-control custom-checkbox mb-3">
                                  <input class="custom-control-input" id="customCheck6" type="checkbox">
                                  <label class="custom-control-label" for="customCheck6">Announcements</label>
                                </div>
                                <div class="custom-control custom-checkbox mb-3">
                                  <input class="custom-control-input" id="customCheck7" type="checkbox">
                                 <label class="custom-control-label" for="customCheck7">Polls</label>
                                  
                                </div>
                                <div class="custom-control custom-checkbox mb-3">
                                  <input class="custom-control-input" id="customCheck8" type="checkbox">
                                  <label class="custom-control-label" for="customCheck8">Recognition</label>
                                
                                </div>
                            </div>
                          </div>
                          <br>
                          <a href="#" class="float-left btn btn-link text-default">Clear</a>
                          <a href="#" class="btn btn-link text-primary float-right">Apply</a>
                        </div>
                      </div>
                    </div>
                  </div>
                <div class="col-lg-5 bill">
                  <div class="btn-group float-right">
                    <button type="button" class="btn btn-link text-primary" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Filter By <i class="fa fa-angle-down"></i></button>
                    <div class="dropdown-menu dropdown-menu-right">
                      <a class="dropdown-item" href="#">Me</a>
                      <a class="dropdown-item" href="#">My Teams</a>
                      <a class="dropdown-item" href="#">My Company</a>
                    </div>
                  </div><!-- /btn-group -->
                </div>
              </div>
        </div>
        <hr>
        <div class="row">
                  <div class="col-lg-12">
                    <h4>Company Feed</h4>
                     
                    <br>
                  </div>
                </div>

        <div class="card shadow border-0">
        <div class="card-body py-5">
          <div class="row">
            <div class="col-md-2">
              <span class="avatar rounded-circle">
                    <%= image_tag "avatar.png" %>
                  </span>
            </div>
            <div class="col-md-10">
              <i class="fa fa-thumb-tack mr-3 float-right" aria-hidden="true"></i>
              <h4>Announcement</h4>
              <p class="text-muted small">Announcement Title from Manager Name · Just Now</p>
              <p class="lead">
                Check the video out, thanks to all that spoke!.
              </p>
                <div class="">
                    <%= image_tag "video.png", :style => "max-width: 540px;" %>
                </div>
                <br>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <span class="float-right">
            <a data-toggle="tooltip" data-placement="top" title="" data-original-title="Add comment"><i class="fa fa-comments mr-3"></i>

             </a><a data-toggle="tooltip" data-placement="top" title="" data-original-title="Emoji"><i class="fa fa-smile-o mr-3"></i>
          </a></span><a data-toggle="tooltip" data-placement="top" title="" data-original-title="Emoji"></a>
        </div>
      </div>
      <br>

      <div class="card shadow border-0">
        <div class="card-body py-5">
          <div class="row">
            <div class="col-md-2">
              <span class="avatar rounded-circle">
                    <%= image_tag "avatar.png" %>
                  </span>
            </div>
            <div class="col-md-10">
              <i class="fa fa-thumb-tack mr-3 float-right" aria-hidden="true"></i>
              <h4>Poll</h4>
              <p class="text-muted small">Poll Title from Manager Name · 2 days ago</p>
              <p class="lead">
                Hey, it company awards time. Please vote on who you think should win the award this year!
              </p>
                <div class="form-group">
                  <form>
                    <div class="form-group">
                      <label for="validationCustomUsername">Who would you like to nominate?</label>
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroupPrepend"><i class="fa fa-search-plus" aria-hidden="true"></i></span>
                          </div>
                          <input type="text" class="form-control" id="validationCustomUsername" placeholder="Start typing their name" aria-describedby="inputGroupPrepend" required="">
                        </div>
                    </div>
                    <div class="form-group">
                      <label for="exampleFormControlTextarea1">What would you like to nominate them for?</label>
                      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>
                    <div class="form-group focused">
                      <label for="exampleFormControlSelect1">Which company value did they embody?</label>
                      <select class="form-control" id="exampleFormControlSelect1">
                        <option>Zero Fear</option>
                        <option>Above &amp; Beyond</option>
                        <option>Not A Job A Family</option>
                        <option>...</option>
                        <option>...</option>
                      </select>
                    </div>
                  </form>
                </div>
                <a href="#" class="btn btn-primary mt-4">Send response</a>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <span class="float-right">
            <a data-toggle="tooltip" data-placement="top" title="" data-original-title="Add comment"><i class="fa fa-comments mr-3"></i>

             </a><a data-toggle="tooltip" data-placement="top" title="" data-original-title="Emoji"><i class="fa fa-smile-o mr-3"></i>
          </a></span><a data-toggle="tooltip" data-placement="top" title="" data-original-title="Emoji"></a>

          </div>
        </div>
      </div>

      <div class="card shadow border-0">
        <div class="card-body py-5">
          <div class="row">
            <div class="col-md-2">
              <span class="avatar rounded-circle">
                    <%= image_tag "avatar.png" %>
                  </span>
            </div>
            <div class="col-md-10">
              <i class="fa fa-thumb-tack mr-3 float-right" aria-hidden="true"></i>
              <h4>Poll</h4>
              <p class="text-muted small">Poll Title from Manager Name · 2 days ago</p>
              <p class="lead">
                Hey, what shall we call our next event?
              </p>
                <div class="custom-control custom-checkbox mb-3">
                  <input class="custom-control-input" id="customCheck1" type="checkbox">
                  <label class="custom-control-label" for="customCheck1">
                    <span>Cheese</span>
                  </label>
                </div>
                <div class="custom-control custom-checkbox mb-3">
                  <input class="custom-control-input" id="customCheck2" type="checkbox">
                  <label class="custom-control-label" for="customCheck2">
                    <span>Chips</span>
                  </label>
                </div>
                <div class="custom-control custom-checkbox mb-3">
                  <input class="custom-control-input" id="customCheck3" type="checkbox">
                  <label class="custom-control-label" for="customCheck3">
                    <span>Chicory</span>
                  </label>
                </div>
                <div class="custom-control custom-checkbox mb-3">
                  <input class="custom-control-input" id="customCheck4" type="checkbox">
                  <label class="custom-control-label" for="customCheck4">
                    <span>Chives</span>
                  </label>
                </div>
                <a href="#" class="btn btn-primary mt-4">Send Response</a>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <span class="float-right">
            <a data-toggle="tooltip" data-placement="top" title="" data-original-title="Add comment"><i class="fa fa-comments mr-3"></i>

             </a><a data-toggle="tooltip" data-placement="top" title="" data-original-title="Emoji"><i class="fa fa-smile-o mr-3"></i>
          </a></span><a data-toggle="tooltip" data-placement="top" title="" data-original-title="Emoji"></a>

          </div>
        </div>
      <br>

      <div class="card shadow border-0">
        <div class="card-body py-5">
          <div class="row">
            <div class="col-md-2">
              <span class="avatar rounded-circle">
                    <%= image_tag "avatar.png" %>
                  </span>
            </div>
            <div class="col-md-10">
              <i class="fa fa-share-alt mr-3 float-right" aria-hidden="true"></i>
              <h4>Announcement</h4>
              <p class="text-muted small">Announcement Title from Manager Name · 2 days ago</p>
              <p class="lead">
                Thanks for filling out the surveys last week. Clearly Slack isn't working for us right now. Ricky is going to be running some workshops this week to understand more.
              </p>
              
            </div>
          </div>
        </div>
        <div class="card-footer">
          <span class="float-right">
            <a data-toggle="tooltip" data-placement="top" title="" data-original-title="Add comment"><i class="fa fa-comments mr-3"></i>

             </a><a data-toggle="tooltip" data-placement="top" title="" data-original-title="Emoji"><i class="fa fa-smile-o mr-3"></i>
          </a></span><a data-toggle="tooltip" data-placement="top" title="" data-original-title="Emoji"></a>
        </div>
      </div>
      <br>

<div class="card shadow border-0">
        <div class="card-body py-5">
          <div class="row">
            <div class="col-md-2">
              <span class="avatar rounded-circle">
                    <%= image_tag "avatar.png" %>
                  </span>
            </div>
            <div class="col-md-10">
              <h4>Recognition</h4>
              <p class="text-muted small">Company Value from Manager Name · 2 days ago</p>
              <p class="lead">
                Wanted to give a special thanks to @Hastings. He really went above and beyond what I expected in the latest work stream. Give him a hand one and all!
              </p>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <span class="float-right">
            <a data-toggle="tooltip" data-placement="top" title="" data-original-title="Add comment"><i class="fa fa-comments mr-3"></i>

             </a><a data-toggle="tooltip" data-placement="top" title="" data-original-title="Emoji"><i class="fa fa-smile-o mr-3"></i>
          </a></span><a data-toggle="tooltip" data-placement="top" title="" data-original-title="Emoji"></a>
        
        </div>


      </div>
      <br>
          <br>
    </div>
        <div class="col-md-4 feed">
      <div class="">
        <div class="card-body py-3">
          <h6 class="text-default text-uppercase">Have your say</h6>
          <p class="description mt-3">Help shape your company with anonymous feedback.</p>
          <a href="/pages/feedback">
                  <button type="button" class="btn btn-primary mt-4">Send anonymous feedback</button>
                </a>
        </div>
      </div>
<hr>


    
      <div class="">
        <div class="card-body py-3">
          <h6 class="text-default text-uppercase">Recognise someone</h6>
          <p class="description mt-3">Time to make a colleague's day! Who has helped you out or done something amazing recently?</p>
          <a href="/pages/recognise">
                  <button type="button" class="btn btn-primary mt-4">Recognise Somebody</button>
                </a>
        </div>
      </div>
      <hr>

  

      <div class="">
        <div class="card-body py-3">
          <h6 class="text-default text-uppercase">Company Values</h6>
          <p class="description mt-3">Company mission statement</p>
          <div>
            <span class="badge badge-pill badge-primary">Company Value</span>
            <span class="badge badge-pill badge-primary">Company Value</span>
            <span class="badge badge-pill badge-primary">Company Value</span>
            <p>...</p>
          </div>
          <a href="/pages/values">
                  <button type="button" class="btn btn-primary mt-4">See values </button>
                </a>
        </div>
      </div>
<br>
<hr>
    </div>
    </div>
  </div>
</div>


  </main>