 <main>
    <div class="position-relative">
      <!-- shape Hero -->
      <section class="section section-lg section-shaped pb-250">
        <div class="shape shape-style-1 bg-gradient-primary">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <div class="container py-lg-md d-flex">
          <div class="col px-0">
            <div class="row text-center justify-content-center">
              <div class="col-lg-12">
                <h1 class="display-3  text-white">Manage Your Team
                </h1>
                <p class="lead text-white">
                  Manage and get the best out of your team.
                </p>
              </div>
            </div>
          </div>
        </div>
        <!-- SVG separator -->
        <div class="separator separator-bottom separator-skew">
          <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
            <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
          </svg>
        </div>
      </section>
      <!-- 1st Hero Variation -->
    </div>



    <div class="section section-lg pt-lg-0 mt--200">
           <div class="container">
               <div class="row text-center justify-content-center">
                    <div class="col-md-12">
                      <%= link_to pages_team_path do %>
                        <button type="button" class="btn btn-outline-white active">Your Team</button>
                      <% end %>
                      <%= link_to pages_team2_path do %>
                        <button type="button" class="btn btn-outline-white">Team Happiness & Engagement</button>
                      <% end %>
                      <%= link_to pages_team2_path do %>
                        <button type="button" class="btn btn-outline-white">Settings & Reports</button>
                      <% end %>
                    </div>
                </div>
</br>
</br>
                <div class="row justify-content-center">
                    <div class="col-md-12">
                      <div class="card shadow border-0">
                        <div class="card-body py-5">
                          <button class="btn btn-primary float-right" type="button">Add new user</button>
                          <br>
                          <br>
                          <br>
                          <br>
                          <table class="table">
                            <thead>
                              <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Email</th>
                                <th scope="col">Values</th>
                                <th scope="col">Credit</th>
                                <th scope="col">Action</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td class="align-middle"><span class="avatar avatar-sm rounded-circle align-middle">
                                      <%= image_tag "bill.jpg" %>
                                    </span> <a href="" class="text-primary"> Bill Hewitt</a></td>
                                  <td class="align-middle">bill.hewitt@perkbox.com</td>
                                  <td class="align-middle"><span class="badge badge-secondary">Work Life Balance</span><span class="badge badge-secondary">Meaningful Work</span></td>
                                <td class="align-middle">10 Credits</td>
                                <td class="align-middle"><button type="button" class="btn btn-secondary btn-sm space" data-toggle="modal" data-target="#exampleModal1">Give Recognition</button><button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#exampleModal">Send Credit</button></td>
                              </tr>
                              <tr>
                                <td class="align-middle"><span class="avatar avatar-sm rounded-circle align-middle">
                                      <%= image_tag "elsa.jpg" %>
                                    </span><a href="" class="text-primary"> Elsa Bacchiolelli</a></td>
                                    <td class="align-middle">elsa.bacciolelli@perkbox.com</td>
                                  <td class="align-middle"><span class="badge badge-secondary">Communication</span><span class="badge badge-secondary">Manager Relationships</span></td>
                                <td class="align-middle">12 Credits</td>
                                <td class="align-middle"><button type="button" class="btn btn-secondary btn-sm space" data-toggle="modal" data-target="#exampleModal1">Give Recognition</button><button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#exampleModal">Send Credit</button></td>
                              </tr>
                              <tr>
                                <td class="align-middle"><span class="avatar avatar-sm rounded-circle align-middle">
                                      <%= image_tag "steve.jpg" %>
                                    </span><a href="" class="text-primary"> Steve Etheridge</a></td>
                                    <td class="align-middle">steve.etheridge@perkbox.com</td>
                                <td class="align-middle"><span class="badge badge-secondary">Work Life Balance</span><span class="badge badge-secondary">Manager Relationships</span></td>
                                <td class="align-middle">10 Credits</td>
                                <td class="align-middle"><button type="button" class="btn btn-secondary btn-sm space" data-toggle="modal" data-target="#exampleModal1">Give Recognition</button><button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#exampleModal">Send Credit</button></td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div> <!-- end card -->
                    </div>
                </div>

                <br>

               



  </main>

  <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
  <div class="modal-header">
    <h6 class="modal-title" id="modal-title-default">Send Credit</h6>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
      <div class="row">
        <div class="col-md-12">
          <div class="d-flex px-3">
            <div>
              <div class="icon icon-shape bg-gradient-success rounded-circle text-white">
                <i class="fa fa-trophy" aria-hidden="true"></i>
              </div>
            </div>
            <div class="pl-4">
              <h5 class="title text-default">Send As Reward</h5>
              <p>Celebrate success or high achievement.</p>
              <button type="button" class="btn btn-secondary">Let's go</button>
            </div>
            <hr>
          </div>
        </div>
      </div>
        <hr>
        <div class="row">
          <div class="col-md-12">
            <div class="d-flex px-3">
              <div>
                <div class="icon icon-shape bg-gradient-primary rounded-circle text-white">
                  <i class="fa fa-money" aria-hidden="true"></i>
                </div>
              </div>
              <div class="pl-4">
                <h5 class="title text-default">Send As A Top Up</h5>
                <p>Send credit to keep their balance going.</p>
                 <button type="button" class="btn btn-secondary">Let's go</button>
              </div>
              <hr>
            </div>
          </div>
        </div>
      </div>
        <div class="modal-footer">
                          <button type="button" class="btn btn-link  ml-auto" data-dismiss="modal">Close</button>
                        </div>



        
      </div>
    </div>
      </div>
    </div>


    
<!-- Modal -->
<div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
  <div class="modal-header">
    <h6 class="modal-title" id="modal-title-default">Give recognition</h6>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
      <div class="row">
        <div class="col-md-12">
          <div class="d-flex px-3">
            <div>
              <div class="icon icon-shape bg-gradient-success rounded-circle text-white">
                <i class="fa fa-bell" aria-hidden="true"></i>
              </div>
            </div>
            <div class="pl-4">
              <h5 class="title text-default">Send a personal note</h5>
              <button type="button" class="btn btn-secondary">Let's go</button>
            </div>
            <hr>
          </div>
        </div>
      </div>
        <hr>
        <div class="row">
          <div class="col-md-12">
            <div class="d-flex px-3">
              <div>
                <div class="icon icon-shape bg-gradient-primary rounded-circle text-white">
                  <i class="fa fa-bullhorn" aria-hidden="true"></i>
                </div>
              </div>
              <div class="pl-4">
                <h5 class="title text-default">Give a public shoutout</h5>
                 <button type="button" class="btn btn-secondary">Let's go</button>
              </div>
              <hr>
            </div>
          </div>
        </div>
      </div>
        <div class="modal-footer">
                          <button type="button" class="btn btn-link  ml-auto" data-dismiss="modal">Close</button>
                        </div>



        
      </div>
    </div>
      </div>
    </div>
