<main>
  <div class="position-relative">
      <!-- shape Hero -->
      <section class="section section-lg bill section-shaped pb-100">
        <div class="container py-lg-md small d-flex">
          <div class="col px-0">
            <div class="row">
              <div class="col-lg-7">
                <h3 class="">Rewards & Badges</h3>
                <p class="lead">
                  Celebrate your successes
                </p>
              </div>
            </div>
            <hr>
          </div>
        </div>

      <div class="container">
        <div class="row">
            <div class="col-lg-12">
              <h3>Rewards</h3>
              <P>See what rewards you've be given by your company or manager</P>
              <br>
              <div class="row">
                <div class="col-lg-2">
                  <%= image_tag "above.jpg", :class => "rounded-circle img-center img-fluid shadow shadow-lg--hover" %>
                  <div class="pt-4 text-center">
                  <h5 class="title">
                    <span class="d-block mb-1">Above & Beyond</span>
                    <p class="small text-muted">Awarded by Paul Schulz</p>
                  </h5>
                </div>
              </div>
                <div class="col-lg-2">
                  <%= image_tag "Locked.jpg", :class => "rounded-circle img-center img-fluid shadow shadow-lg--hover" %>
                  <div class="pt-4 text-center">
                  <h5 class="title">
                    <span class="d-block mb-1">Zero Fear</span>
                  </h5>
                  <a href="#" class="btn btn-link text-primary">Criteria <i class="fa fa-angle-right"></i></a>
                </div>
              </div>
              <div class="col-lg-2">
                  <%= image_tag "Locked.jpg", :class => "rounded-circle img-center img-fluid shadow shadow-lg--hover" %>
                  <div class="pt-4 text-center">
                  <h5 class="title">
                    <span class="d-block mb-1">Not A Job...</span>
                  </h5>
                  <a href="#" class="btn btn-link text-primary">Criteria <i class="fa fa-angle-right"></i></a>
                </div>
              </div>
              <div class="col-lg-2">
                  <%= image_tag "Locked.jpg", :class => "rounded-circle img-center img-fluid shadow shadow-lg--hover" %>
                  <div class="pt-4 text-center">
                  <h5 class="title">
                    <span class="d-block mb-1">Try It Test It</span>
                  </h5>
                  <a href="#" class="btn btn-link text-primary">Criteria <i class="fa fa-angle-right"></i></a>
                </div>
              </div>
              <div class="col-lg-2">
                  <%= image_tag "Locked.jpg", :class => "rounded-circle img-center img-fluid shadow shadow-lg--hover" %>
                  <div class="pt-4 text-center">
                  <h5 class="">
                    <span class="d-block mb-1">Company Value</span>
                  </h5>
                  <a href="#" class="btn btn-link text-primary">Criteria <i class="fa fa-angle-right"></i></a>
                </div>
              </div>
              <div class="col-lg-2">
                  <%= image_tag "Locked.jpg", :class => "rounded-circle img-center img-fluid shadow shadow-lg--hover" %>
                  <div class="pt-4 text-center">
                  <h5 class="">
                    <span class="d-block mb-1">Company Value</span>
                  </h5>
                  <a href="#" class="btn btn-link text-primary">Criteria <i class="fa fa-angle-right"></i></a>
                </div>
                <br>
            <br>
              </div>
              </div>
            </div>
            <br>
            <div class="col-lg-12">
              <hr>
              <h3>Badges</h3>
              <P>Earn badges for behaviours that will help improve your wellbeing</P>
              <br>
              <div class="row">
                <div class="col-lg-2">
                  <%= image_tag "Locked.jpg", :class => "rounded-circle img-center img-fluid shadow shadow-lg--hover" %>
                  <div class="pt-4 text-center">
                  <h5 class="title">
                    <span class="d-block mb-1">Connect</span>
                  </h5>
                  <a href="#" class="btn btn-link text-primary">How to unlock <i class="fa fa-angle-right"></i></a>
                </div>
              </div>
                <div class="col-lg-2">
                  <%= image_tag "Locked.jpg", :class => "rounded-circle img-center img-fluid shadow shadow-lg--hover" %>
                  <div class="pt-4 text-center">
                  <h5 class="title">
                    <span class="d-block mb-1">Be Active</span>
                  </h5>
                  <a href="#" class="btn btn-link text-primary">How to unlock <i class="fa fa-angle-right"></i></a>
                </div>
              </div>
              <div class="col-lg-2">
                  <%= image_tag "Locked.jpg", :class => "rounded-circle img-center img-fluid shadow shadow-lg--hover" %>
                  <div class="pt-4 text-center">
                  <h5 class="title">
                    <span class="d-block mb-1">Take Notice</span>
                  </h5>
                  <a href="#" class="btn btn-link text-primary">How to unlock <i class="fa fa-angle-right"></i></a>
                </div>
              </div>
              <div class="col-lg-2">
                  <%= image_tag "Locked.jpg", :class => "rounded-circle img-center img-fluid shadow shadow-lg--hover" %>
                  <div class="pt-4 text-center">
                  <h5 class="title">
                    <span class="d-block mb-1">Keep Learning</span>
                  </h5>
                  <a href="#" class="btn btn-link text-primary">How to unlock <i class="fa fa-angle-right"></i></a>
                </div>
              </div>
              <div class="col-lg-2">
                  <%= image_tag "Locked.jpg", :class => "rounded-circle img-center img-fluid shadow shadow-lg--hover" %>
                  <div class="pt-4 text-center">
                  <h5 class="title">
                    <span class="d-block mb-1">Give</span>
                  </h5>
                  <a href="#" class="btn btn-link text-primary">How to unlock <i class="fa fa-angle-right"></i></a>
                </div>
              </div>

              </div>
            </div>
          </div>
        </div>
        <!-- SVG separator -->
      </section>
      <!-- 1st Hero Variation -->
    </div>


  </main>

