<header class="header-global">
    <nav id="navbar-main" class="navbar navbar-expand-lg navbar-dark bg-default fixed-top">
      <div class="container-fluid">
        <%= link_to image_tag("spotify.png"), pages_welcome7_path, :class=>'navbar-brand bill mr-lg-5' %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbar_global">
          <div class="navbar-collapse-header">
            <div class="row">
              <div class="col-6 collapse-brand">
                <a href="../index.html">
                  <img src="../assets/img/brand/dark.png">
                </a>
              </div>
              <div class="col-6 collapse-close">
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false" aria-label="Toggle navigation">
                  <span></span>
                  <span></span>
                </button>
              </div>
            </div>
          </div>
          <ul class="navbar-nav navbar-nav-hover align-items-lg-center">

            <% if current_page?(pages_companyperks_path) -%>
              <%= link_to pages_companyperks_path, class: "nav-link active" do %>
                Company Perks
              <% end %>
            <% else %>
    
              <%= link_to pages_companyperks_path, class: "nav-link" do %>
                Company Perks
              <% end %>
            <% end %>

            <% if current_page?(pages_feed2_path) -%>
              <%= link_to pages_feed2_path, class: "nav-link active" do %>
                Company Hub
              <% end %>
            <% else %>
    
              <%= link_to pages_feed2_path, class: "nav-link" do %>
                Company Hub
              <% end %>
            <% end %>

            <% if current_page?(pages_market2_path) -%>
              <%= link_to pages_market2_path, class: "nav-link active" do %>
                Marketplace
              <% end %>
            <% else %>
    
              <%= link_to pages_market2_path, class: "nav-link" do %>
                Marketplace
              <% end %>
            <% end %>

          </ul>
          <ul class="navbar-nav navbar-nav-hover align-items-lg-center ml-lg-auto">
            <li class="nav-item">
                <a class="nav-link nav-link-icon" href="#">
                    <i class="fa fa-search"></i>
                    <span class="nav-link-inner--text d-lg-none">Profile</span>
                </a>
            </li>
            <li class="nav-item">  
              <% if current_page?(pages_credit_path) -%>
                <%= link_to pages_credit_path, class: "nav-link nav-link-icon active" do %>
                  <i class="fa fa-diamond" aria-hidden="true"></i>
                  <span>100 Credits</span>
                <% end %>
              <% else %>
                <%= link_to pages_credit_path, class: "nav-link nav-link-icon" do %>
                  <i class="fa fa-diamond" aria-hidden="true"></i>
                  <span>100 Credits</span>
                <% end %>
              <% end %>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <div class="media align-items-center">
                  <span class="avatar avatar-sm rounded-circle">
                    <%= image_tag "avatar.png" %>
                  </span>
                </div>
              </a>
              <div class="dropdown-menu dropdown-menu-arrow dropdown-menu-right">
                <div class=" dropdown-header noti-title">
                  <h6 class="text-overflow m-0">Hey, Joe!</h6>
                </div>
                <%= link_to pages_profile_path, class: "dropdown-item" do %>
                  <i class="fa fa-user-circle" aria-hidden="true"></i>
                  <span>My profile</span>
                <% end %>
                <%= link_to pages_trophies5_path, class: "dropdown-item" do %>
                  <i class="fa fa-trophy" aria-hidden="true"></i><span> My Rewards & Recognition</span>
                <% end %>
                <%= link_to pages_history_path, class: "dropdown-item" do %>
                  <i class="fa fa-history" aria-hidden="true"></i>
                  <span>My Redeemed Codes</span>
                <% end %>
                <a href="#" class="dropdown-item">
                  <i class="fa fa-question-circle" aria-hidden="true"></i>
                  <span>Help & support</span>
                </a>
                <div class="dropdown-divider"></div>
                <%= link_to root_path, class: "dropdown-item" do %>
                    <i class="fa fa-power-off" aria-hidden="true"></i>
                    <span>Logout</span>
                <% end %>
              </div>
            </li>
          </ul>
          
        </div>
      </div>
    </nav>
  </header>

